.productList {
  margin: 8rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  gap: 2rem;
}

@media (max-width: 768px) {
  .productList {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 4rem 0;
  }
}

@media (max-width: 480px) {
  .productList {
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }
}
