.container {
  margin: 0 auto;
  height: 100vh;
  touch-action: none;
  user-select: none;

  .model {
    position: absolute;
    top: 3rem;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 480px) {
      justify-content: center;

      .modelImage:not(:first-child) {
        display: none;
      }

      .modelImage:first-child p {
        display: none;
      }
    }

    .modelImage {
      p {
        position: absolute;
        top: 2rem;
        margin-left: 2rem;
        color: #010101;
        cursor: pointer;
        font-size: 1.2rem;

        @media (max-width: 768px) {
          font-size: 1rem;
        }

        @media (max-width: 480px) {
          font-size: 0.8rem;
        }

        &::after {
          content: "";
          position: absolute;
          bottom: -0.2rem;
          left: 0;
          width: 0;
          height: 2px;
          background-color: #010101;
          transition: width 0.3s ease-in-out;
        }

        &:hover::after {
          width: 100%;
        }
      }

      img {
        border-radius: 8px;
        max-width: 100%;
        height: auto;

        @media (max-width: 768px) {
          border-radius: 6px;
        }

        @media (max-width: 480px) {
          border-radius: 4px;
        }
      }
    }
  }

  .wellcomeMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15rem;
    z-index: 2;

    @media (max-width: 1024px) {
      font-size: 10rem;
      top: 10%;
      left: 40%;
    }

    @media (max-width: 768px) {
      font-size: 6rem;
      top: 10%;
      left: 40%;
    }

    @media (max-width: 480px) {
      font-size: 4rem;
      top: 10%;
      left: 40%;
    }
  }
}
