.header {
  position: absolute;
  width: 100%;
  height: 3rem;
  z-index: 3;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .nav {
    ul {
      display: flex;
      flex-direction: row;
      margin-left: 2rem;
      gap: 2rem;
      font-size: 1rem;
      list-style: none;
      color: #000;
      cursor: pointer;
    }
  }

  .settingsContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2rem;

    margin-right: 2rem;

    .search,
    .user {
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;
    }

    .cart {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
      cursor: pointer;
    }
  }
}

@media (max-width: 768px) {
  .header {
    justify-content: center;
    height: 3rem;

    .nav {
      display: none;
    }

    .settingsContainer {
      flex-direction: row; 
      gap: 1rem;
      margin-right: 0;
    }
  }
}

@media (max-width: 480px) {
  .header {
    justify-content: flex-end;
    height: auto;
    margin-top: 1rem;
    padding-right: 2rem;

    .nav {
      display: none;
    }

    .settingsContainer {
      flex-direction: row; 
      gap: 2.5rem;
      margin-right: 0;
    }
  }
}
